# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Metro
.metro/
.metro-health-check*

# Android
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties
*.hprof

# iOS
ios/Pods/
ios/build/
DerivedData/
*.xcuserstate
xcuserdata/

# IDE
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Test
coverage/
