# =========================
# Dependencies
# =========================
node_modules/

# =========================
# PNPM
# =========================
.pnpm-store/

# =========================
# Metro / React Native
# =========================
.metro/
.metro-health-check*

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Android
# =========================
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties
*.hprof

# =========================
# iOS
# =========================
ios/Pods/
ios/build/
DerivedData/
*.xcuserstate
xcuserdata/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Tests / Coverage
# =========================
coverage/

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# Keystores / secrets
# =========================
*.keystore
*.jks